@import './theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  img {
    @apply inline-block;
  }
}
