:root {
  --background: #fff;

  --foreground: #374151;
  --foreground-muted: #8b8d98;

  --surface: #f9f9fb;
  --surface-accent: #e8e8e8;

  --border: #eff0f3;
  --border-accent: #f0f0f0;

  --primary: #426cff;
  --primary-accent: #365df1;
  --primary-surface: #f6f9ff;
  --primary-foreground: #fff;

  --secondary: #333333;
  --secondary-accent: #121212;
  --secondary-foreground: #fff;

  --ring: #f6f9ff;
}
